/* @import "base"; */

body {
  font-family: system-ui, sans-serif;
  background-color: #161a23;
  color: #bebaba;
  margin: 0;
  padding: 0;

  display: flex;
  justify-content: center; /* Centers horizontally */
  align-items: center;     /* Centers vertically */
}

main{
  max-width: 800px;
  margin: 50px 0 0 0;
}

h1{
  text-align: center;
}


img{
  width: 300px;
  height: 300px;
  clip-path: circle(150px at center);
}


/* Unvisited link */
a:link {
  color: rgb(59, 139, 192);
}

/* Visited link */
a:visited {
  color: rgb(195, 58, 195);
}

/* Active link */
a:active {
  color: red;
}

hr{
  width: 500px; /* Or width: 50%; */
  margin-left: 0; /* Aligns to the start (left) */
  margin-right: auto; /* Pushes it to the left */
  border: 1px solid rgb(63, 165, 74); /* Or customize color, size */
}